<%- include('../partials/header') %>

<h1>Add Flight</h1>
<form action="/flights" method="POST">
  <label for="airline">Airline:</label>
  <select name="airline" required>
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select>
  <br>
  <label for="airport">Airport:</label>
  <select name="airport" required>
    <option value="AUS">AUS</option>
    <option value="DFW" >DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <br>
  <label for="flightNo">Flight Number:</label>
  <input type="text" name="flightNo" required>
  <br>
  <label for="departs">Departure Date/Time:</label>
  <input type="datetime-local" name="departs" required>
  <br>
  <button type="submit">Add Flight</button>
</form>

<%- include('../partials/footer') %>